/*隐藏移动端播放按钮*/
/*
video::-webkit-media-controls {  
    display:none !important;
}
*/

.activity_page{
    background: #000a1a;
    margin-bottom: 50px;
}
.activity_banner{
    width: 100%;
    text-align: center;
    img{
        width: 130px;
        margin-top: 20px;
    }
}
.time_data{
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    .time_title{
    	font-weight: bold;
    }
}
.activity_content{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;

    &.first_content{
       margin-top: 15px;
    }

    .list{
    	margin-top: 8px;
    	&:after{
    		display: block;
    		content: '';
    		clear: both;
    	}
    	.list_left{
    		width: 100%;
    		background: #604eb0;
    		position: relative;
    		padding: 10px;

    		.list_img{
    			min-height: 76px;
    			width: 76px;
    		}
    		.list_dec{
    			position: absolute;
    			left: 32%;
    			top: 23px;

				p{
					color: #fff;
				}
				.large_title{
					font-size: 16px;
					margin-bottom: 3px;
					font-weight: bold;
				}
    		}
    		.view_icon{
    			position: absolute;
    			right: 12px;
    			top: 24px;
    			width: 18%;
    			height: 50px;
    			background: url(../images/play.png) no-repeat;
    			background-size: contain;
    		}
    	}
    	.list_right{
    		margin-left: 2%;
    		width: 15%;

    		.share_icon{
    			width: 50px;
    			height: 50px;
    			background: url(../images/share.png) no-repeat;
    			background-size: cover;
    			background-position: center;
    			position: relative;
    			top: 24px;
    		}
    	}
    }
}
.activity_dec{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    span{
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
}

.nav_section{
    width: 100%;
    height: 45px;
    background: #263347;
    &:after{
            display: block;
            content: '';
            clear: both;
    }
    .nav_li{
        width: 50%;
    
        .title{
            text-align: center;
            line-height: 43px;
            font-size: 16px;
            color: #fff;
            font-weight: bold;  
            &.active{
                border-bottom: 3px solid #483ce9;
                width: 80%;
                margin: auto;
            }
        }
    }
}
.botton_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: url(../images/play.png) no-repeat;
    background-size: cover;
}
.img_section{
    margin-top: 16px;
    &:after{
            display: block;
            content: '';
            clear: both;
    }
    .video_section{
        width: 100%;
        position: relative;
        margin-top: 20px;
        .play_btn{
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 10;
            width: 66px;
            height: 66px;
            margin-top: -33px;
            margin-left: -33px;
           
        }
    }
    .video_content{
        width: 100%;
        margin-top: 10px;
    }
    .img_list{
        /*box-sizing:border-box;
        -moz-box-sizing:border-box; 
        -webkit-box-sizing:border-box; 
        width:48%;
        float:left;
        margin-top: 10px;
        margin-right: 8px;
        &:nth-child(odd){
            margin-right: 0;
        }*/
        margin-top: 20px;
    }
}

.footer_section{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 12;
    width: 100%;
    height: 50px;
    background: rgba(92, 25, 230, 0.91);

    p{
        color: #fff;
        text-align: center;
        i{
            display: inline-block;
            content: '';
            position: absolute;
            top: 10px;
            width: 30px;
            height: 30px;
            background: url(../images/512.png) no-repeat;
            background-size: cover;
        }  
        .footer_dec{
            margin-left: 40px;
        }  
        span{
            line-height: 28px;
        }
    }
}