.activity_page{
    background: #7661dc;
}
.activity_banner{
    width: 100%;
}
.time_data{
	position: absolute;
    top: 60%;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    .time_title{
    	font-weight: bold;
    }
}
.activity_content{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;

    &.first_content{
       margin-top: -10px;
        position: relative;
        z-index: 3;
    }

    .list{
    	margin-top: 8px;
    	&:after{
    		display: block;
    		content: '';
    		clear: both;
    	}
    	.list_left{
    		width: 100%;
    		background: #604eb0;
    		position: relative;
    		padding: 10px;

    		.list_img{
    			min-height: 76px;
    			width: 76px;
    		}
    		.list_dec{
    			position: absolute;
    			left: 32%;
    			top: 23px;

				p{
					color: #fff;
				}
				.large_title{
					font-size: 16px;
					margin-bottom: 3px;
					font-weight: bold;
				}
    		}
    		.view_icon{
    			position: absolute;
    			right: 12px;
    			top: 24px;
    			width: 18%;
    			height: 50px;
    			background: url(../images/play.png) no-repeat;
    			background-size: contain;
    		}
    	}
    	.list_right{
    		margin-left: 2%;
    		width: 15%;

    		.share_icon{
    			width: 50px;
    			height: 50px;
    			background: url(../images/share.png) no-repeat;
    			background-size: cover;
    			background-position: center;
    			position: relative;
    			top: 24px;
    		}
    	}
    }
}
.activity_dec{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    span{
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
}

.nav_section{
    width: 100%;
    height: 45px;
    background: #5e46d1;
    &:after{
            display: block;
            content: '';
            clear: both;
    }
    .nav_li{
        width: 50%;
    
        .title{
            text-align: center;
            line-height: 43px;
            font-size: 16px;
            color: #fff;
            font-weight: bold;  
            &.active{
                border-bottom: 3px solid #f958b0;
                width: 80%;
                margin: auto;
            }
        }
    }
}
.botton_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40pc;
    background: url(../images/play.png) no-repeat;
    background-size: cover;
}
.img_section{
    margin-top: 16px;
    &:after{
            display: block;
            content: '';
            clear: both;
    }
    .video_section{
        width: 100%;
        position: relative;
        margin-top: 20px;
        .play_btn{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50px;
            height: 50px;
            margin-top: -20px;
            margin-left: -20px;
            background: url(../images/play.png) no-repeat;
            background-size: contain;
        }
    }
    .video_content{
        width: 100%;
        margin-top: 10px;
    }
    .img_list{
        /*box-sizing:border-box;
        -moz-box-sizing:border-box; 
        -webkit-box-sizing:border-box; 
        width:48%;
        float:left;
        margin-top: 10px;
        margin-right: 8px;
        &:nth-child(odd){
            margin-right: 0;
        }*/
        margin-top: 20px;
    }
}


#wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.scroller {
    position: absolute;
    z-index: 1;
    /*  -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}
.scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.scroller li {
    min-height:70px;
    background-color: #fafafa;
    font-size: 14px;
    padding:5px;
}
.pullDown, .pullUp {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #888;
    font-family: Arial, Microsoft YaHei;
} .pullUp{ display:block;}
.loader {
    display: inline-block;
    font-size: 0px;
    padding: 0px;
    display: none;
}
.loader span {
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    -webkit-animation: loader 0.8s linear infinite alternate;
    animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.6);
}
.loader span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(245, 103, 115,1);
}
.loader span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.4);
}
 @keyframes loader {
 from {
transform: scale(0, 0);
}
to {
    transform: scale(1, 1);
}
}
@-webkit-keyframes loader {
 from {
-webkit-transform: scale(0, 0);
}
to {
    -webkit-transform: scale(1, 1);
}
}

